* {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}
.App-header {
  background-color: babyblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(252, 237, 237);
}
button {
  align-items: center;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgb(94, 147, 155);
  background-color: rgb(19, 116, 128);
  font-weight: 500;
  color: white;
}

legend {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(19, 116, 128);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  -ms-flex-item-align: auto;

  padding-top: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(222, 242, 248);
  color: rgb(1, 34, 47);
  border-radius: 10px;
}

.no-bullets {
  list-style-type: none;
  padding: 50px;
}

fieldset,
input {
  border-radius: 6px;
}

Map {
  width: 40%;
  height: 40%;
}
